<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :f_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :l_name %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.collection_select(:role_id, Role.all, :id, :role_name ) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
