<p id="notice"><%= notice %></p>

<p>
  <strong>FirstName:</strong>
  <%= @user.f_name %>
</p>

<p>
  <strong>LastName:</strong>
  <%= @user.l_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role.role_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
